<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

    <body>
        <%- include ('partials/navbar.ejs')%>
            <h1 class="footer-container container text-center mt-5">Menu</h1>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Categorias</h5>
                                <p class="card-text">Apartado de categorias. Aqui podras ingresar, modificar, eliminar
                                    categorias, ademas de visualizarlas
                                </p>
                                <a href="/categorias" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Egresos</h5>
                                <p class="card-text">Apartado de egresos. Aqui podras ingresar, modificar, eliminar
                                    egresos, ademas de visualizarlos</p>
                                <a href="/egresos" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Ingresos</h5>
                                <p class="card-text">Apartado de ingresos. Aqui podras ingresar, modificar, eliminar
                                    ingresos, ademas de visualizarlos</p>
                                <a href="/ingresos" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Marcas</h5>
                                <p class="card-text">Apartado de marcas. Aqui podras ingresar, modificar, eliminar
                                    marcas, ademas de visualizarlas</p>
                                <a href="/marcas" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Juguetes</h5>
                                <p class="card-text">Apartado de juguetes. Aqui podras ingresar, modificar, eliminar
                                    juguetes, ademas de visualizarlos</p>
                                <a href="/juguetes" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Proveedores</h5>
                                <p class="card-text">Apartado de proveedores. Aqui podras ingresar, modificar, eliminar
                                    proveedores,ademas de visualizarlos</p>
                                <a href="/proveedores" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Inventario</h5>
                                <p class="card-text">Apartado de inventario. Aqui podras ingresar, modificar, eliminar
                                    items del inventario, ademas de visualizarlo</p>
                                <a href="/inventario" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <%- include ('partials/footer.ejs')%>

</html>