<footer class="footer mt-5">
    <div class="footer-container container text-center">
        <div class="footer-section">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Información de Contacto</h4>
            <ul>
                <li>Teléfono: +569 3105 2705</li>
                <li>Email: infgam247@gmail.com</li>
                <li>Dirección: SantoTomás</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <ul>
                    <li><a href="https://github.com/DaddyChary" target="_blank">GitHub</a></li>
                    <a href="https://www.facebook.com" target="_blank">Facebook</a>
                    <a href="https://www.instagram.com/gamaliel_moya/" target="_blank">Instagram</a>
                    <a href="https://www.linkedin.com/in/gamaliel-moya-88b682300/" target="_blank">LinkedIn</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Chary.Cl Todos los derechos reservados.
    </div>
</footer>